.btn {
    border-radius: 4px;
    background-color: #fb5607;
    border: none;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 7);
}

.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 25px;
}

.btn:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.btn:hover {
   padding-right: 24px;
   padding-left: 8px;
}

.btn:hover:after {
    opacity: 1;
    right: 10px;
}
.slide {
    position: absolute;
    display: block;
    top: 2em;
    width: 60%;
    font-size: 2em;
  
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .slide {
      animation-name: anim-1;
      animation-name: anim-2;
      animation-name: anim-3;
  }
  
  @keyframes anim-1 {
      0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 25%; opacity: 1; }
      33.33%, 100% { left: 110%; opacity: 0;}
  }
  
  @keyframes anim-2 {
      0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 25%; opacity: 1; }
      66.66%, 100% { left: 110%; opacity: 0;}
  }
  
  @keyframes anim-1 {
      0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 25%; opacity: 1; }
      100% { left: 110%; opacity: 0;}
  }